.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: rgb(255,252,219);
    border-radius: 10px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.02);
    background-color: #F8CC31;
    box-shadow: -7px -7px #FD42F4;
}

.card:hover > img {
    animation-name: bounce;
}

.card > figcaption {
    font-size: 1em;
    font-weight: 500;
    color: #FD42F4;
    margin-top: 7px;
    border-top: 1px solid #FD42F4;
}

.card > img {
    width: auto;
    min-width: 190px;
    max-width: 100%;
    min-height: 200px;
    flex-grow: 1;
    position: relative;
    animation-duration: 0.6s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes bounce {
	0%{
        transform: scaleY(1);
		transform: translateY(0);
	}

    15% {
        transform: scaleY(0.75);
    }
    25% {
        transform: scaleY(1);
        transform: translateY(0);
    }
    30% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(-45px);
    }
	60% {
		transform: translateY(-50px);
	}
    100% {
        transform: translateY(0);
    }
}

@keyframes jump {
	0%{
		transform: translateY(0);
	}
    25% {

        transform: translateY(-40px);
    }
    45% {
        transform: translateY(-45px);
    }
	60% {
		transform: translateY(-50px);
	}
    100% {
        transform: translateY(0);
    }

}






  
  